################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/LoadAndShowDCM/LoadAndShowDCM.VC.VC.opendb
/LoadAndShowDCM/LoadAndShowDCM.VC.db
/LoadAndShowDCM/ipch/LOADANDSHOWDCM-4321ad12/LOADANDSHOWDCM-64cbcef2.ipch
